body {
    font-family: 'Times New Roman', Times, serif;
}
.forms {
    background: linear-gradient(to bottom right, #33ccff 3%, #000099 94%);
    color: white;
}

@media only screen and (min-width: 768px) {
    .forms {
        margin-top: 10rem;
        padding-block: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .forms {
        margin-block: 2rem;
        padding-block: 2rem;
    }
}

.btns {
    background-color: aqua;
    width: 80%;
}

.link {
    text-decoration: none;
    color: #33ccff;
}